<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		{{>header}}

		<h2>{{basicText}}</h2>
		<p>Not Andrew Mead but {{name}} created this page.</p>
		{{>footer}}
	</body>
</html>